body{
    background-image: url("beans.jpg");
    padding: 20px;
}
.container{
    width: 35%;

    background-color:burlywood;
    margin-left: auto;
    margin-right: auto;
 
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 8px;
}
h2{
    font-size: 30px;
}
header p {
    text-align: center;
    font-style: italic;
}
.underline{
    border-bottom: 3px solid brown;
    width: 90%;
    margin: auto;
}
footer p{
    text-align: center;
    font-family: sans-serif;

}
a {
    color: black;
}
a:hover{
    color: brown;
}

.main p{
    display: inline-block;
    font-family: sans-serif;
    margin: 0px;
     padding: 10px; 
 
}
.item {
    width: 44%;
}
.rate{
    width: 44%;
    text-align: right;
}
.para{
    padding-bottom: 20px;
}
.img{
    text-align:center;
}